.search {
  border-bottom: 3px solid #d3cece;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-input {
  flex: 1;
  padding: .5rem .2rem;
  border: none;
}

.search-button {
  background-color: transparent;
}

@media only screen and (min-width: 600px) {
  .search {
    width: 50%;
  }
}